body {
    margin: 0;
    padding: 0;
}

.containerBox {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;


}

.startBtn,
.SwitchCamera,
#startRecording,
#stopRecording {
    background: #f5b238;
    outline: 0;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 6px;

}

#startRecording {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 24px;
    font-weight: 400;
    margin: 0px 90px;
}

#stopRecording {
    color: black;
    font-size: 21px;
    font-weight: 400;
    margin: 0px 60px;
    width: fit-content;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.startStopBtns {
    width: 60%;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: -10px;
    height: 98px;
}

.fa-stop {
    color: red;
    border-radius: 50%;
    padding-right: 12px;
}

.fa-repeat,
.fa-border-all {
    border: 1px solid white;
    color: #f5b238;
    font-size: 19px;
    padding: 10px;
    border-radius: 50%;
}

#videoRecorded {
    display: block;
    width: 163px;
    height: 79px;
    position: absolute;
    top: -85px;

}

.videoRecordedBox {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

#videoLiveBox {
    width: 100%;
}

#videoLive {
    width: 60%;
}

.DownloadRecordedVideo {
    display: none;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width:700px) {
    #videoLive {
        width: 100% !important;
        height: 90vh;
        object-fit: cover;
    }

    .startStopBtns {
        width: 100%;
        /* margin-top: -110px; */

    }
}

@media (max-width:400px) {
    #stopRecording {
        margin: 0px 30px;
    }

    #startRecording {
        margin: 0px 30px;
    }
}