


<div class="container" >

 
<div id="videoLiveBox">
  <video autoplay muted playsinline id="videoLive"></video>
</div>
<div class="startStopBtns">
  <i class="fa-solid fa-border-all"></i>
  <div>
    <button type="button" id="startRecording" style="display: inline-block;">GO</button>
    <button type="button" id="stopRecording" style="display: none;" ><i class="fa-solid fa-stop"></i>Stop</button>

  </div>
  <i class="fa-solid fa-repeat"></i>
</div> 
<div>
  <video controls playsinline id="videoRecorded" style="display: none;"></video>
</div>

</div>