<div class="containerBox">

  <div id="videoLiveBox">
    <video autoplay muted playsinline id="videoLive"></video>
  </div>

  <div class="startStopBtns">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="timmer">
        <button id="timmer">{{timerValue}} <b>/ 00:10</b></button>
      </div>
      <div class="videoRecordedBox">
        <video controls playsinline id="videoRecorded" style="display: none;"></video>
      </div>
    </div>
    <div class="actions">
      <i class="fa-solid fa-border-all"></i>
      <div>
        <button type="button" id="startRecording" style="display: inline-block;" (click)="startVideo()">GO</button>
        <button type="button" id="stopRecording" style="display: none;" data-toggle="modal"
          data-target="#addNewCategoryBox" (click)="stopVideo()"><i class="fa-solid fa-stop"></i>Stop</button>
      </div>
      <i class="fa-solid fa-repeat" (click)="toggleCamera()" id="flip-btn"></i>
    </div>
  </div>
</div>


<!-- Modal code -->
<div class="modal fade" id="addNewCategoryBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to save the video?</p>
        <div class="modal-footer d-flex justify-content-between align-items-center">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" class="btn btn-secondary"
            id="addBtn" style="width: 45%;">Cancel</button>

          <button type="button" class="btn btn-primary" style="width: 45%;" id="addBtn" (click)="downloadVideo()">Save
            Video</button>
        </div>
      </div>
    </div>
  </div>